body{
  background-color: #2b2b2b;
}

.teclado{
  position: absolute;
  margin-top: 30%;
  margin-left: 45%;
}

.letra{
  background-color:rgba(46, 204, 113,1.0);
  color:white;
  border:solid #27ae60;
  border-width:1px 1px 3px 2px;
  font-family:Arial;
  font-size:15px;
  padding:15px; 
  border-radius:4px;
  width:70px;
  height:70px;
}
.letra :hover{
  background-color:rgba(46, 204, 113,.8);
}
.letra :active{
  border-width:1px 1px 1px 1px;
}

.palabras{
  display: flex;
  position: absolute;
  margin-top: 15%;
  margin-left: 45%;

}

.palabra{
  margin-left: 10%;
  color: rgb(235, 27, 27);
  font-size: 700%;
}

.imagen{
  margin-top: 10%;
  position: absolute;

}

.titular{
  margin-top: -2.1%;
  position: absolute;
  margin-left: 32%;
  width: 40%;
}

.pista{
  position: absolute;
  margin-left: 44%;
  font-size: 300%;
}